@model IEnumerable<InterTicketandoFatec.Models.Conferente>

@{
    ViewBag.Title = "ConferenteIndex";
    Layout = "~/Views/Layout/_LayoutPadrao.cshtml";
}

<div class="conteiner">

    <br /><br /><br /><br /><br /><br /> <!-- <Espaçamento> -->

    <!-- <Tabela> -->
    <table class="table table-hover">

        <!-- <Cabeçalho> -->
        <thead class="thead-dark">
            <tr>

                <th align="center"> <b> Conferente </b> </th>
                <th align="center"> <b> Assunto </b> </th>
                <th align="center"> <b> Conteudo </b> </th>

                <th colspan="1"></th> <!-- <Propósto: preencher o cabeçalho das duas colunas adicionais criadas pelos botões, Alterar e Apagar, presentes da tabela> -->
            </tr>
        </thead>
        <!-- </Cabeçalho> -->

        <!-- <Corpo> -->
        @foreach (var conferente in Model)
        {
            <tr>
                <td> @conferente.Nome </td>

                <td> @conferente.Assunto </td>

                <td> @conferente.Conteudo </td>
                
                <td> <a href="/Conferente/ConferenteUpdate/@conferente.ID"> Atualizar </a> </td>
            </tr>
        }
        <!-- </Corpo> -->
    </table>
    <!-- </Tabela> -->
</div>