
@{
    ViewBag.Title = "ComoFunciona";
    Layout = "~/Views/Layout/_LayoutPadrao.cshtml";
}

<br /><br /><br /><br /><br /><br /><br /><br />
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <ul class="" style="font-size:20px;">
                <li>Escolha o evento que quer participar</li>
                <li>Cadastre - se no sistema , não se preucupe será bem rápido</li>
                <li>Depois de cadastrado , voce poderá escolher um evento e se inscrever</li>
                <li>Pronto , facil e rápido.</li>
            </ul>
            <a href="/Usuario/UsuarioCreate" class="btn btn-success btn-xs">CADASTRE SE AQUI</a>
        </div>
        <div class="col-lg-6 text-center">
            <img src="~/Images/5.jpg" alt="Logo Ticketando" style="width:300px; height:100px;" />
        </div>
    </div>

</div>


